################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Betti_Bull_WebAPI/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Betti_Bull_WebAPI/DesignTimeBuild
