################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Betti_Bull_WebAPI/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Betti_Bull_WebAPI/DesignTimeBuild
/BullService/obj/Debug/netcoreapp3.1.1
/BullService/obj/Debug/netcoreapp3.1
/BullService/bin/Debug/netcoreapp3.0
/BullService/obj
AngularApp/.editorconfig
.vs/Betti_Bull_WebAPI/config/applicationhost.config
AngularApp/.vscode/settings.json
/BullService/bin/Release/netcoreapp3.0
/BullService/Properties/PublishProfiles
